<!-- begin::Header -->
<div class="card-header border-0 pt-5 d-flex justify-content-between">
    <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Lista, Creación y Edición de Productos</span>
    </h3>
    <div class="card-toolbar">
        <button pButton pRipple type="button" icon="pi pi-plus" (click)="created()" label="Crear" class="p-button-rounded p-button-info" ></button>
    </div>
</div>
<button class="d-none" (click)="setUnit()" #btn></button>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
        <p-table #dt [value]="products" [(selection)]="selectedProducts" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
                 [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" responsiveLayout="scroll"
                 [paginator]="true" currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} productos"
                 [filterDelay]="0" [globalFilterFields]="['name', 'active', ' tion', 'date', 'key', 'model', 'size', 'intro']">
            <ng-template pTemplate="caption">
                <div class="bg-light- row flex align-items-center justify-content-end">
                    <div class="col">
                        <h5 class="m-0"></h5>
                    </div>
                    <div class="col d-flex  justify-content-end">
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal(search.value, 'contains')" placeholder="Busqueda Global" #search/>
                    </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" class="bg-primary">
                <tr>
                    <th style="width: 10rem">Imagen</th>
                    <th pSortableColumn="name">
                        <div class="flex justify-content-between align-items-center">
                            Nombre
                            <p-sortIcon field="name"></p-sortIcon>
                            <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="key">
                        <div class="flex justify-content-between align-items-center">
                            Código
                            <p-sortIcon field="key"></p-sortIcon>
                            <p-columnFilter type="text" field="key" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="model">
                        <div class="flex justify-content-between align-items-center">
                            Modelo
                            <p-sortIcon field="model"></p-sortIcon>
                            <p-columnFilter type="text" field="model" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="date">
                        <div class="flex justify-content-between align-items-center">
                            Fecha
                            <p-sortIcon field="date"></p-sortIcon>
                            <p-columnFilter type="text" field="date" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th  style="width: 12rem" pSortableColumn="active">
                        <div class="flex justify-content-between align-items-center">
                            Status
                            <p-sortIcon field="active"></p-sortIcon>
                            <p-columnFilter field="active" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Todos" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th style="width: 12rem">
                        <div class="flex justify-content-end align-items-center">
                            <span class="float-end">Acciones</span>
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-product let-ri="rowIndex">
                <tr class="p-selectable-row" *ngIf="product.role != 'SUPER_ADMIN_ROLE'">
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="symbol me-5">
                                <img [src]="product._id | image: 'products' : product.image"
                                     width="200px"
                                     class="cursor-pointer"
                                     [alt]="product.name"
                                     (click)="editProduct(product)"/>
                            </div>
                        </div>
                    </td>
                    <td (click)="editProduct(product)">
                        <span class="p-column-title">nombre</span>
                        {{product.name}}
                    </td>
                    <td (click)="editProduct(product)">
                        <span class="p-column-title">codigo</span>
                        {{ product.key ? product.key:'' }}
                    </td>
                    <td (click)="editProduct(product)">
                        <span class="p-column-title">modelo</span>
                        {{ product.model ? product.model:'' }}
                    </td>
                    <td (click)="editProduct(product)">
                        <span class="p-column-title">date</span>
                        {{ product.date | date: 'dd/MMM/yyyy' }}
                    </td>
                    <td>
                        <span class="p-column-title">status</span>
                        <span class="badge badge-light-success fs-7 fw-bold" *ngIf="product.active">Activo</span>
                        <span class="badge badge-light-danger fs-7 fw-bold" *ngIf="!product.active">In Activo</span>
                    </td>
                    <td style="text-align: center" *ngIf="signedUser$ | async as _signedUser">
                        <!--                        <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>-->
                        <button type="button" (click)="active(product._id, !product.active)"
                                [title]="product.active ? 'Desactivar':'Activar'"
                                class="btn btn-icon btn-bg-light btn-sm me-1"
                                [class.btn-active-color-danger]="product.active"
                                [class.btn-active-color-success]="!product.active"
                                [disabled]="isLoading">
                            <ng-container *ngIf="!isLoading">
                                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'" class="svg-icon svg-icon-3"></span>
                            </ng-container>
                            <ng-container *ngIf="isLoading">
                                <span class="indicator-progress" [style.display]="'block'">
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </ng-container>
                        </button>
                        <button type="button" (click)="editProduct(product)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" title="Editar" [disabled]="isLoading">
                            <ng-container *ngIf="!isLoading">
                                <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'" class="svg-icon svg-icon-3"></span>
                            </ng-container>
                            <ng-container *ngIf="isLoading">
                                <span class="indicator-progress" [style.display]="'block'">
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </ng-container>
                        </button>
                        <button type="button"
                                title="Eliminar"
                                (click)="delete(product._id)"
                                class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm cursor-pointer"
                                [disabled]="isLoading">
                            <ng-container *ngIf="!isLoading">
                                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'" class="svg-icon svg-icon-3"></span>
                            </ng-container>
                            <ng-container *ngIf="isLoading">
                                <span class="indicator-progress" [style.display]="'block'">
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </ng-container>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No se encontro ningun producto.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [header]="create ? 'Crear Producto':'Editar Producto ' + product.name"
          [(visible)]="productDialog" [modal]="true" [breakpoints]="{'960px': '75vw', '540px': '100vw'}" [style]="{width: '85vw'}"
          [draggable]="false" [resizable]="false">
    <ng-template pTemplate="body">
        <form (ngSubmit)="saveProduct(formCreate)"  #formCreate="ngForm">

              <div class="p-fluid grid row">
                <div class="field col-12 mt-5 pt-3">
                  <span class="p-float-label">
                      <input type="text" id="name" name="name" pInputText [(ngModel)]="product.name" autocomplete="off" required>
                      <label for="name">Nombre</label>
                  </span>
                </div>
              </div>


            <div class="form-floating mt-3">
                  <label for="intro">Introducción</label>
                  <br><br>
                  <p-editor [(ngModel)]="product.intro" [style]="{'height':'100px'}" id="intro" name="intro"></p-editor>
                <!--<textarea class="form-control" placeholder="Descripción breve" [(ngModel)]="product.intro" name="intro"  id="intro" style="height: 100px"></textarea>-->

            </div>


            <div class="form-floating mt-3">
                  <label for="description">Descripción</label>
                  <br><br>
                      <p-editor [(ngModel)]="product.description" [style]="{'height':'320px'}" id="description" name="description"></p-editor>

                <!--<textarea class="form-control" placeholder="Descripción" [(ngModel)]="product.description" name="description"  id="description" style="height: 100px"></textarea>-->

            </div>

            <div class="p-fluid grid row mt-5 pt-3">
                <span class="p-float-label">
                  <p-multiSelect inputId="categories" id="categories" name="categories" [options]="categories" [(ngModel)]="product.categories" optionLabel="name"></p-multiSelect>
                  <label for="categories" class="ms-3">Categorias</label>
                </span>
            </div>
            <div class="p-fluid grid row">
                <div class="field col-12 mt-5 pt-3">
                  <span class="p-float-label">
                      <input type="text" id="model" name="model" pInputText [(ngModel)]="product.model" autocomplete="off" required>
                      <label for="model">Modelo</label>
                  </span>
                </div>
            </div>
            <div class="p-fluid grid row">
                <div class="field col-12 mt-5 pt-3">
                  <span class="p-float-label">
                      <input type="text" id="key" name="key" pInputText [(ngModel)]="product.key" autocomplete="off" required>
                      <label for="key">Clave</label>
                  </span>
                </div>
            </div>
            <div class="p-fluid grid row">
                <div class="field col-12 mt-5 pt-3">
                  <span class="p-float-label">
                      <input type="text" id="size" name="size" pInputText [(ngModel)]="product.size" autocomplete="off" required>
                      <label for="size">Tamaño</label>
                  </span>
                </div>
            </div>
            <div class="form-check form-check-solid fv-row mt-3">
                <input class="form-check-input" type="checkbox" name="confirm" [(ngModel)]="product.new" value="false"/>
                <label class="form-check-label fw-bold ps-2 fs-6">Nuevo</label>
            </div>

            <div class="field col-12 mt-5 pt-3">
                <img [src]="thumbnail" *ngIf="thumbnail" width="150px" class="img-fluid cursor-pointer" (click)="file.click()">
                <img src="assets/media/misc/image.png" *ngIf="!imageInit && !thumbnail && !product.image" width="150px" class="img-fluid cursor-pointer" (click)="file.click()">
                <img [src]="product._id | image: 'products' : product.image" [alt]="product.image" width="150px" class="product-image cursor-pointer" *ngIf="product.image && !thumbnail" (click)="file.click()">
                <p-button type="button" icon="pi pi-image"
                          (click)="file.click()"
                          label="Seleccionar Imagen"
                          styleClass="p-button-rounded p-button-success ms-5">
                </p-button>
                <input type="file" name="image" id="image" class="d-none" (change)="getImage($event)" #file accept="image/*">
            </div>
            <div class="field col-12 mt-5 pt-3">
                <div class="alert alert-primary mt-3" role="alert">
                        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen006.svg'"
                              class="svg-icon svg-icon-2tx svg-icon-success me-4">
                        </span>
                    Imágenes (Formato png, jpg o jpeg de tamaño 1,200 x 700 a 72 dpi)<br>
                </div>
            </div>
            <div class="field col-12 mt-5 pt-3">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let image of product.images; let i=index">
                            <img [src]="image | imageGallery: product._id: 'products'" class="w-100" [alt]="image">
                            <button type="button"
                                    title="Eliminar"
                                    (click)="deleteImageGallery(image)"
                                    class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm cursor-pointer"
                                    [disabled]="isLoading">
                                <ng-container *ngIf="!isLoading">
                                    <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'" class="svg-icon svg-icon-3"></span>
                                </ng-container>
                                <ng-container *ngIf="isLoading">
                                        <span class="indicator-progress" [style.display]="'block'">
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                        </span>
                                </ng-container>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field col-12 mt-5 pt-3">
                <ngx-dropzone (change)="onSelect($event)">
                    <ngx-dropzone-label>¡Suélte, sus imágenes!</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                </ngx-dropzone>
            </div>
            <div class="d-flex justify-content-end mt-5">
                <p-button icon="pi pi-ban" (click)="productDialog=false" label="Cancelar" styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
                <p-button type="submit" icon="pi pi-check"
                          *ngIf="formCreate.valid"
                          label="Guardar"
                          styleClass="p-button-rounded p-button-success"></p-button>
            </div>
        </form>
    </ng-template>
</p-dialog>
