<!-- Dashboard -->
<div class="menu-item">
  <a class="menu-link without-sub"
    routerLink="/dashboard"
    routerLinkActive="active">
    <span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title" translate="MENU.DASHBOARD"></span
  ></a>
</div>

<!-- Separator -->

<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1"
      >Opciones</span
    >
  </div>
</div>

<!-- Users -->
<div class="menu-item">
  <a class="menu-link without-sub"
     routerLink="/users"
     routerLinkActive="active">
    <span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/communication/com014.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title" translate="MENU.USERS"></span
    ></a>
</div>

<!-- Tag -->
<div class="menu-item">
  <a class="menu-link without-sub"
     routerLink="/tags"
     routerLinkActive="active">
    <span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen056.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title" translate="MENU.TAGS"></span
    ></a>
</div>

<!-- Categories -->
<div class="menu-item" >
      <a class="menu-link without-sub"
         routerLink="/categories"
         routerLinkActive="active">
    <span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'" class="svg-icon svg-icon-2"></span>
    </span>
            <span class="menu-title" translate="MENU.CAT_PRODUCT"></span
            ></a>
</div>

<!-- Products -->
<div class="menu-item">
    <a class="menu-link without-sub"
       routerLink="/products"
       routerLinkActive="active">
    <span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen056.svg'" class="svg-icon svg-icon-2"></span>
    </span>
        <span class="menu-title" translate="MENU.PRODUCTS"></span
        ></a>
</div>

<!-- Blogs -->
<div class="menu-item">
  <a class="menu-link without-sub"
     routerLink="/blogs"
     routerLinkActive="active">
    <span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/communication/com007.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title" translate="MENU.BLOGS"></span
    ></a>
</div>

<!-- Separator -->
<div class="menu-item">
  <div class="menu-content">
    <div class="separator mx-1 my-4"></div>
  </div>
</div>

<!-- Changelog  -->
<!--<div class="menu-item">-->
<!--  <a target="_blank" class="menu-link" [href]="appPreviewChangelogUrl">-->
<!--    <span class="menu-icon">-->
<!--      <span-->
<!--        class="svg-icon svg-icon-2"-->
<!--        [inlineSVG]="'./assets/media/icons/duotune/general/gen005.svg'"-->
<!--      ></span>-->
<!--    </span>-->
<!--    <span class="menu-title">Changelog {{ appAngularVersion }}</span>-->
<!--  </a>-->
<!--</div>-->
