

<section>
  <div class="row --row-azul-dark m-0 p-2">
    <div class="col-md-4 bg-image" style="background-image: url('/assets/images/a-quien-servimos.webp');
      background-repeat: no-repeat; background-size: cover; min-height: 300px">
    </div>

    <div class="col-md-4 px-4">
      <h2 class="text-white">A quien servimos</h2>
        <p class="text-white">Creamos una experiencia exepcional</p>
        <ul>
          <li class="text-white"><p class="text-white">Empresas</p></li>
          <li class="text-white"><p class="text-white">Industrias</p></li>
          <li class="text-white"><p class="text-white">Salúd</p></li>
          <li class="text-white"><p class="text-white">Colegios.</p></li>
          <li class="text-white"><p class="text-white">Sitios remotos</p></li>
          <li class="text-white"><p class="text-white">Retail</p></li>
        </ul>

      </div>

    <div class="col-md-4 bg-image" style="background-image: url('/assets/images/hamburguesas.webp');
      background-repeat: no-repeat; background-size: cover; min-height: 300px">
    </div>

  </div>
</section>


