
<main>

  <app-breadcrumbs [firstItem]="item" [secondaryItem]="secondaryItem" [search]="search"></app-breadcrumbs>

  <section class="pb-3">

    <div class="--titulo">
      <h1 class="-titulo-seccion">{{ this.titulo }}</h1>
    </div>


    <app-servicios-beneficios></app-servicios-beneficios>

    <section class="m-4 p-2">
      <div class="-col-2">
        <div class="  px-3">
          <h2>Definición</h2>

          <p>Contamos con estructura, instalaciones y unidades equipadas idóneas para la gestión de servicio de alimentación transportada, entregando a diferentes destinos, en el tiempo establecido, garantizando máxima calidad, presentación y temperatura.</p>

            <p>Sin duda una prestación valiosa para tus colaboradores</p>


          <h2>Ventajas</h2>

          <p>Los usuarios pueden elegir menú de su preferencia a través de una plataforma personalizada.</p>
            <ol>
              <li><p><strong>Ahorro de Tiempo y Esfuerzo</strong></p>
              <p>Organizar la comida para un evento puede ser una tarea ardua y demandante. nuestro servicio de catering se encarga de todos los aspectos relacionados con la comida, lo que permite ahorrar tiempo y esfuerzo:
                <ul>
                  <li><p><strong>Preparación de la comida:</strong> Nos encargamos de toda la preparación, desde la compra de los ingredientes hasta la cocción.</p></li>
                  <li><p><strong>Montaje y desmontaje:</strong> Del área de comida, incluyendo mesas, sillas, utensilios y decoración.</p></li>
                  <li><p><strong>Limpieza:</strong> Después del evento, nosotros nos encargamos de la limpieza, lo que alivia una carga importante para el anfitrión.</p></li>
                </ul>
              </li>
              <li><p><strong>Calidad y Variedad de la Comida</strong></p>
                <p>Ofrecemos una amplia variedad de opciones de menú y garantizamos la calidad de la comida:</p>
                <ul>
                  <li><p><strong>Menús personalizados:</strong> Puedes elegir entre una variedad de menús y personalizar las opciones para satisfacer las preferencias y necesidades dietéticas de los invitados.</p></li>
                  <li><p><strong>Profesionalismo en la cocina:</strong> Nuestro equipo de chefs y cocineros profesionales aseguran que la comida sea de alta calidad y esté bien presentada.</p></li>
                  <li><p><strong>Opciones dietéticas:</strong> Capacidad para ofrecer opciones que se adapten a dietas especiales, como vegetarianas, veganas, sin gluten, etc.</p></li>
                </ul>
              </li>
              <li><p><strong>Logística y Equipamiento</strong></p>
                <p>Nuestro equipo se encarga de la logística y el equipamiento necesario para el evento:</p>
                <ul>
                  <li><p><strong>Provisión de utensilios:</strong> Suministro de platos, vasos, cubiertos, servilletas, etc.</p></li>
                  <li><p><strong>Equipo de cocina:</strong> Provisión de equipos necesarios para preparar y servir la comida.</p></li>
                  <li><p><strong>Mobiliario y decoración:</strong> En muchos casos, también pueden proporcionar mesas, sillas y decoración.</p></li>
                </ul>
            </ol>


          <h2>Aplicaciones</h2>

          <p>Este servicio es adecuado para todas las áreas de la empresa moderna en oficinas corporativas, bodegas, fabricas, trabajo de campo, jardines, etc.</p>
        </div>

        <div class="d-flex align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/servicios/catering.webp" class="img-fluid"  width="100%" alt="Catering">
        </div>
      </div>


    </section>

  </section>
</main>

