
<main>

  <app-breadcrumbs [firstItem]="item" [secondaryItem]="secondaryItem" [search]="search"></app-breadcrumbs>

  <section>
    <div class="d-flex justify-content-center">

      <h2 class="-titulo-video -text-clear">Catering</h2>

      <video autoplay loop muted playsinline class="" width="100%" height="auto">
        <source src="/assets/videos/catering.mp4" type="video/mp4">
      </video>

    </div>
  </section>



    <section class="mx-2 m-2">
      <div class="row">
        <div class="col-md-6">
          <p>¡Sorprende a tus empleados con un catering que lo tiene todo! Diseñado para organizaciones sin cocina, nuestro servicio se adapta a tus horarios y necesidades. </p>
            <p>¿Qué Ofrecemos? </p>
            <ul>
              <li><p>Flexibilidad total: Desde lunch packs hasta estaciones móviles. </p></li>
              <li><p>Menús balanceados: Diseñados por expertos en nutrición. </p></li>
              <li><p>Entrega impecable: Siempre a tiempo y con calidad garantizada. </p></li>
          </ul>


        </div>

        <div class="col-md-6 align-items-top justify-content-center">
          <img src="/assets/images/servicios/catering.webp" class="img-fluid"  width="100%" alt="Servicio de catering móvil de Lounge & Food MPM, con unidades equipadas para eventos sin instalaciones propias.">
        </div>
      </div>

    </section>

    <section>
      <div class="px-2 pb-2">
        <img src="/assets/images/banners/catering.webp"  width="100%">
      </div>
    </section>  


</main>

