
<main>

  <app-breadcrumbs [firstItem]="item" [search]="search"></app-breadcrumbs>

  <section class="pb-3">

    <div class="--titulo">
      <h1 class="-titulo-seccion">{{ this.titulo }}</h1>
    </div>


    <section class="m-4 p-2">
      <div class="-col-2">
        <div class="  px-3">
          <h2>Desarrollate en Lounge and Food MPM</h2>

          <p>Conoce las oportunidades de empleo que en Lounge & Food MPM tenemos para ti</p>

          <p>Te invitamos a formar parte de nuestra bolsa de trabajo en Lounge & Food MPM. Como empresa comprometida con la excelencia y el crecimiento continuo, valoramos el talento y la dedicación de personas como tú.</p>

          <h2>¿Por qué unirte a nuestra bolsa de trabajo?</h2>

          <p><strong>Oportunidades de Crecimiento:</strong> Ofrecemos un entorno dinámico donde puedes desarrollar tus habilidades y avanzar en tu carrera.</p>
          <p><strong>Innovación y Creatividad:</strong> Trabajarás en proyectos emocionantes que fomentan la innovación y la creatividad.</p>
          <p><strong>Ambiente Colaborativo:</strong> Fomentamos una cultura de colaboración donde cada voz es escuchada y valorada.</p>
          <p><strong>Beneficios Competitivos:</strong> Alcanza el éxito profesional como experto. Te brindamos capacitación constante y más posibilidades de ascensos ....</p>
          <ul>
            <li><p>Carrera profesional y formación<br><i>Alcanza el éxito profesional, conviértete en un experto</i></p></li>
            <li><p>Te brindamos capacitación constante<br><i>Ten más posibilidades de ascenso</i></p></li>
            <li><p>flexibilidad laboral <br><i>Adquiere equilibrio entre tu vida personal y laboral.</i></p></li>
            <li><p>Cultura organizacional positiva<br><i>Labora en un ambiente donde se valora la colaboración, el respeto mutuo y la inclusión.</i></p></li>
            <li><p>Programas de bienestar<br><i>Promovemos la salud física y mental.</i></p></li>
            <li><p>Subsidio del 100 % en alimentación<br><i>alimentación gratuita ó Vales de comedor y restaurtante o Servicio de comedor o Ayuda alimentaria gratis.</i></p></li>
          </ul>
        </div>

        <div class="align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/bolsa-de-trabajo.jpeg" class="img-fluid"  width="100%" alt="Bolsa de trabajo">
        </div>
      </div>

    </section>


    <section class="m-4 p-2">
      <div class="-col-2">
        <div class=" align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/bolsa-de-trabajo-inscribete.webp" class="img-fluid"  width="100%" alt="Bolsa de trabajo">
        </div>


        <div class="  px-3">
          <h2>¿Cómo inscribirte?</h2>

          <p><strong>Contactanos:</strong><p>Llena el formulario de contacto y próximamente nuestro equipo de recursos humanos se pondrá en contacto contigo</p>
          <p><strong>Perfil Profesional</strong>: prepara los detalles de tu perfil profesional para ayudarnos a conocerte mejor.</p>
          <p><strong>Mantente Informado:</strong> Recibirás notificaciones sobre nuevas oportunidades laborales que se ajusten a tu perfil.</p>

          <p>Nos encantaría tener la oportunidad de trabajar contigo y apoyarte en tu desarrollo profesional. Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos a  <a href="mailto:trujillo@excess.com.mx">contacto@loungeandfoodmpm.com</a> o al tel. 442 104 9006.
          <p>¡Esperamos contar contigo en nuestra bolsa de trabajo!</p>

        </div>


      </div>

    </section>

  </section>
</main>

