
<main>

  <app-breadcrumbs [firstItem]="item" [search]="search"></app-breadcrumbs>

  <section class="pb-3">

    <div class="--titulo">
      <h1 class="-titulo-seccion">{{ this.titulo }}</h1>
    </div>


    <section class="m-4 p-2">
      <div class="-col-2">
        <div class="  px-3">
          <h2>Desarrollate en Lounge and Food MPM</h2>

          <p>Conoce las oportunidades de empleo que en Lounge & Food MPM tenemos para ti</p>

          <p>Nos complace invitarte a formar parte de nuestra bolsa de trabajo en Lounge & Food MPM. Como empresa comprometida con la excelencia y el crecimiento continuo, valoramos el talento y la dedicación de personas como tú.</p>

          <h2>¿Por qué unirte a nuestra bolsa de trabajo?</h2>

          <p><strong>Oportunidades de Crecimiento:</strong> Ofrecemos un entorno dinámico donde puedes desarrollar tus habilidades y avanzar en tu carrera.</p>
          <p><strong>Innovación y Creatividad:</strong> Trabajarás en proyectos emocionantes que fomentan la innovación y la creatividad.</p>
          <p><strong>Ambiente Colaborativo:</strong> Fomentamos una cultura de colaboración donde cada voz es escuchada y valorada.</p>
          <p><strong>Beneficios Competitivos:</strong> Ofrecemos un paquete de beneficios que incluye [detalles de beneficios, como seguro de salud, tiempo libre remunerado, etc.].</p>

          <h2>¿Cómo inscribirte?</h2>

          <p><strong>Contactanos:</strong><p>Llena el formulario de contacto y próximamente nuestro equipo de recursos humanos se pondrá en contacto contigo</p>
          <p><strong>Perfil Profesional</strong>: prepara los detalles de tu perfil profesional para ayudarnos a conocerte mejor.</p>
          <p><strong>Mantente Informado:</strong> Recibirás notificaciones sobre nuevas oportunidades laborales que se ajusten a tu perfil.</p>

          <p>Nos encantaría tener la oportunidad de trabajar contigo y apoyarte en tu desarrollo profesional. Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos a  <a href="mailto:trujillo@excess.com.mx">contacto@loungeandfoodmpm.com</a> o al tel. 442 104 9006.
          <p>¡Esperamos contar contigo en nuestra bolsa de trabajo!</p>

        </div>

        <div class=" align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/bolsa-de-trabajo.webp" class="img-fluid"  width="100%" alt="Catering">
        </div>
      </div>


    </section>

  </section>
</main>

