$-color60: #fff;
$-color30: #3B89AD;
$-color10: #003851;

$-title: #5BB8CA;
$-text: #62606E;

$-gris: #666666;

$-gris-claro: #85929E;

$-btn-azul: #1b97ad;

$-azul: #204054;


$-card-dark: #204054;
$-card-clear: #cef6ff;
