
<main>

  <app-breadcrumbs [firstItem]="item" [secondaryItem]="secondaryItem" [search]="search"></app-breadcrumbs>

  <section class="pb-3">

    <div class="--titulo">
      <h1 class="-titulo-seccion">Cafeterías</h1>
    </div>


    <app-servicios-beneficios></app-servicios-beneficios>

    <section class="m-4 p-2">
      <div class="-col-2">
        <div class="  px-3">
          <h2>Definición</h2>

          <p>Contribuimos al bienestar de los colaboradores dentro de su espacio laboral, creando un ambiente agradable.</p>
            <p>El mejor break del día es En nuestras cafeterías, cuentan con amplia gama de productos recién elaborados, productos listos para consumir, satisfaciendo a todos los paladares.
          </p>


          <h2>Ventajas</h2>

          <p>Experiencia y conocimiento en el sector para contribuir al éxito de los proyectos de nuestros clientes.</p>

          <p>Optimización de los procesos operativos para mejorar la eficiencia y optimizar los costos.</p>

          <p><strong>Gestión de personal:</strong> Reclutamiento, formación y retención de empleados calificados.</p>

          <p><strong>Control de inventarios:</strong> Gestión eficaz de inventarios para evitar desperdicios y garantizar la disponibilidad de productos.</p>

          <p><strong>Calidad del servicio:</strong> Implementación de estándares de servicio al cliente para garantizar una experiencia positiva.</p>

          <p>Nos seguraramos de que la cafetería cumpla con todas las normativas y regulaciones es crucial: regulaciones sanitarias, normativas laborales, licencias y permisos</p>

          <h2>Aplicaciones</h2>

          <p>En fabricas, oficinas, centros comerciales, y para cualquier área donde el cliente requiera apoyo de una cafetería</p>


        </div>

        <div class="d-flex align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/servicios/cafeterias.webp" class="img-fluid"  width="100%" alt="Cafeterías">
        </div>
      </div>


    </section>

  </section>
</main>

