
<main>

  <app-breadcrumbs [firstItem]="item" [secondaryItem]="secondaryItem" [search]="search"></app-breadcrumbs>

  <section>
    <div class="d-flex justify-content-center">

      <h2 class="-titulo-video -text-clear">Cafeterías</h2>

      <video autoplay loop muted playsinline class="" width="100%" height="auto">
        <source src="/assets/videos/cafeterias.mp4" type="video/mp4">
      </video>

    </div>
  </section>

    <section class="mx-2 p-2">
      <div class="row">
        <div class="col-md-6 px-3">
          <p>Convierte cada pausa en un momento de inspiración. Nuestras cafeterías corporativas combinan sabor, comodidad y eficiencia, creando un espacio ideal para recargar energías. </p>
          <p>Beneficios Irresistibles: </p>
          <ul>
            <li><p>Velocidad y calidad: Snacks deliciosos y bebidas frescas en segundos. </p></li>
            <li><p>Un ambiente acogedor: Diseñamos espacios que invitan a la relajación y creatividad.</p></li>
            <li><p>Variedad sin límites: Opciones para todos los gustos, desde saludables hasta indulgentes.</p></li>
          </ul>

        </div>

        <div class="col-md-6 align-items-top justify-content-center px-3 py-2">
          <img src="/assets/images/servicios/cafeterias.webp" class="img-fluid"  width="100%" alt="Cafeterías">
         
        </div>
      </div>

    </section>

    <section>
      <div class="px-4 pb-2">
        <img src="/assets/images/banners/cafeterias.webp"  width="100%">
      </div>
    </section>  


    




</main>

