/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap"
@import "assets/sass/variables"


@import "primeicons/primeicons.css"


.-script
  font-family: "Kalam", cursive
  font-weight: 300
  font-style: normal

.-err
  border: 1px solid red

.-err-green
  border: 1px solid green

body
  color: $-gris

p
  color: $-text
  font-size: 1.2rem

h1
  font-size: 34px
  font-weight: 400

h2
  color: $-title
  font-weight: bold

.-text-clear
  color: $-title-clear

.-text-dark
   color: $-title


.-bg-light
  background-color: $-color30


.--servicios

  .__card
    border: 1px solid rgba(0, 0, 0, 0.1)
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1)
    border-radius: 6px
    position: relative

//------- botones --------
//
//
//

.-btn-ver-mas, .btn-ver-mas:active, .-btn-ver-mas:visited
  color: white
  background-color: $-gris
  text-decoration: none
  padding: 8px 28px 8px 28px
  border-radius: 6px
  position: absolute
  bottom: 12px
  right: 12px

.-btn-ver-mas:hover
    background-color: #8d8d8d

.-btn, .-btn:active, .-btn:visited
  color: white
  background-color: $-color30
  text-decoration: none
  padding: 8px 28px 8px 28px
  border-radius: 18px

.-btn:hover
  background-color: $-btn-azul

button
  border: 0

//------- video --------
//
//
//

.video-titulo
  height: 400px
  width: 100%
  position: relative


.video-titulo video
  width: 100%
  height: 100%
  position: absolute
  object-fit: cover
  z-index: 0


/* Just styling the content of the div, the *magic* in the previous rules */
.video-titulo .caption
  z-index: 1
  position: relative
  text-align: center
  color: #dc0000
  padding: 10px


  .-video

  width: 100%
  position: relative


.-video video
  width: 100%
  height: 100%
  position: absolute
  object-fit: cover
  z-index: 0


/* Just styling the content of the div, the *magic* in the previous rules */
.-video .caption
  z-index: 1
  position: relative
  text-align: center
  padding: 10px



//------------------------


.--card
  border: 1px solid #d5d8dc
  border-radius: 10px
  box-shadow: 6px 6px 6px rgba(0,0,0,0.06)
  margin: 0 50px 20px 50px !important
  padding: 16px


.-titulo
  color: $-title
  font-weight: bold

.-titulo-seccion
  font-weight: bold
  font-size: 4rem
  text-align: center

.-title-clear
  color: $-title-clear
  font-size: 3rem
  font-weight: bold

.-titulo-gris
  color: $-gris-claro

.--titulo
  padding: 2px 20px 1px 0
  margin-top: 1px
  margin-bottom: 8px
  text-align: end
  border-top: 1px solid $-title

.__titulo
  color: $-color10

/*  icon sizes */
span.size-16
  font-size: 16px
  font-variation-settings: 'OPSZ' 20
  text-decoration: underline


span.size-20
  font-size: 20px
  font-variation-settings: 'OPSZ' 20
  text-decoration: underline




.--card-azul
    border: 1px solid rgba(0, 0, 0, 0.1)
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1)
    border-radius: 6px
    background-color: $-color30
    color: white

.--card-azul-dark
    border: 1px solid rgba(0, 0, 0, 0.1)
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1)
    border-radius: 6px
    background-color: $-card-dark
    color: white

.--row-azul-dark
  border-radius: 6px
  background-color: $-card-dark
  color: white


//// social media icons
//
//------------------------------

.whatsapp
  position: fixed
  bottom: 0
  right: 0
  margin-right: 20px
  margin-bottom: 20px
  color: #25d366
  z-index: 100

.whatsapp-icon
  background-color: #fff
  border-radius: 50px
  font-size: 2.5rem




//grid

.-col-2
  display: grid
  width: 100%
  gap: 0
  padding: 4px 0 4px 0
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))


.-col-3
  display: grid

  gap: 0px
  padding: 4px 0 4px 0
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))

.-span2
  grid-column: span 2


.-col-4
  display: grid
  width: 100%
  gap: 0
  padding: 4px 0 4px 0
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))


