<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard">
    <span class="menu-title" translate="MENU.DASHBOARD"></span>
  </a>
</div>


<!-- Users -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/users">
    <span class="menu-title" translate="MENU.USERS"></span>
  </a>
</div>

<!-- Categories -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/categories">
    <span class="menu-title" translate="MENU.CATEGORIES"></span>
  </a>
</div>

<!-- Tag -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/tags">
    <span class="menu-title" translate="MENU.TAGS"></span>
  </a>
</div>

<!-- Products -->
<div class="menu-item me-lg-1">
    <a class="menu-link py-3" routerLinkActive="active" routerLink="/products">
        <span class="menu-title" translate="MENU.PRODUCTS"></span>
    </a>
</div>

<!-- Blogs -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/blogs">
    <span class="menu-title" translate="MENU.BLOGS"></span>
  </a>
</div>
