
<main>

  <app-breadcrumbs [firstItem]="item" [secondaryItem]="secondaryItem" [search]="search"></app-breadcrumbs>

  <section>
    <div class="d-flex justify-content-center">

      <h2 class="-titulo-video -text-clear">Comedor Empresarial</h2>

      <video autoplay loop muted playsinline class="" width="100%" height="auto">
        <source src="/assets/videos/carne-asada.mp4" type="video/mp4">
      </video>

    </div>
  </section>

    <app-servicios-beneficios></app-servicios-beneficios>

    <section class="mx-4 p-2 ">
      <div class="-col-2">

        <div class=" align-items-top justify-content-center px-3 py-2">
          <img src="/assets/images/comedor-empresarial.webp" class="img-fluid"  width="100%" alt="comedor empresarial">
        </div>
        <div class="  px-3">
          <p>Servicio de comedor industrial con los mejores equipos, servicios, ingredientes y atención personalizada donde su personal podrá disfrutar de sana convivencia con una alimentación adecuada.</p>
        </div>

      </div>
    </section>


    <section class="mx-4 p-2 -ventajas">
      <div class="-col-2">
        <div class="  px-3">

          <h2>Ventajas</h2>

          <p class="text-white">Creamos ambiente de trabajo positivo, transformando espacios. Fomentamos salud y bienestar a las personas.</p>
          <p class="text-white">Constantemente incorporamos nuevas recetas inspiradas en deleitar y sorprender a cada comensal, creando una experiencia culinaria única.</p>
          <p class="text-white">Contamos con diversas propuestas amigables y adaptables a distintas necesidades.</p>

        </div>

        <div class=" align-items-top justify-content-center px-3 py-2">

          <img src="/assets/images/servicios/comedor-industrial.jpg" class="img-fluid"  width="100%" alt="comedor empresarial">
        </div>
      </div>

    </section>




  <section class="mx-4 mb-4 p-0 rounded-3 ">
    <app-a-quien-servimos></app-a-quien-servimos>
  </section>

</main>
