
<main>

  <app-breadcrumbs [firstItem]="item" [secondaryItem]="secondaryItem" [search]="search"></app-breadcrumbs>

  <section class="pb-3">

    <div class="--titulo">
      <h1 class="-titulo-seccion">Comedor Empresarial</h1>
    </div>


    <app-servicios-beneficios></app-servicios-beneficios>

    <section class="m-4 p-2">
      <div class="-col-2">
        <div class="  px-3">
          <h2>Definición</h2>

          <p>Servicio de comedor industrial con los mejores equipos, servicios, ingredientes y atención personalizada donde su personal podrá disfrutar de sana convivencia con una alimentación adecuada.</p>


          <h2>Ventajas</h2>

          <p>Creamos ambiente de trabajo positivo, transformando espacios. Fomentamos salud y bienestar a las personas.</p>
          <p>Constantemente incorporamos nuevas recetas inspiradas en deleitar y sorprender a cada comensal, creando una experiencia culinaria única.</p>
          <p>Contamos con diversas propuestas amigables y adaptables a distintas necesidades.</p>

          <h2>Aplicaciones</h2>

          <p>Este servicio es adecuado para todas las áreas de la empresa moderna en oficinas corporativas, bodegas, fabricas, trabajo de campo, etc.</p>
        </div>

        <div class="d-flex align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/comedor-empresarial.webp" class="img-fluid"  width="100%" alt="comedor empresarial">
        </div>
      </div>


    </section>

  </section>
</main>
