


  <app-breadcrumbs [firstItem]="item" [secondaryItem]="secondaryItem" [search]="search"></app-breadcrumbs>
  
  <section>
    <div class="d-flex justify-content-center">
      <h2 class="-titulo-video -text-clear">Comedores Industriales</h2>

      <video autoplay loop muted playsinline class="" width="100%" height="auto">
        <source src="/assets/videos/comedor-empresarial.mp4" type="video/mp4">
      </video>

    </div>
  </section>

 
   

    <section class="mx-2 p-2 mb-2 mt-2 ">
      <div class="row">
        <div class="col-md-6">

          <h3 class="-tex-azul">Alimenta el éxito de tu empresa! Nuestros comedores industriales ofrecen comidas deliciosas y equilibradas que potencian el rendimiento de tus empleados, optimizan su tiempo y mejoran su bienestar. </h3>
          

        </div>

        <div class=" col-md-6  align-items-top justify-content-center px-3 py-2">
          <p class="-text-azul"> ¿Por qué elegirnos? </p>
          <ul>
            <li><p class="-text-azul">Practicidad y comodidad: Olvida los desplazamientos innecesarios; todo lo que necesitan está en un solo lugar.</p></li> 
            <li><p class="-text-azul">Energía todo el día: Diseñamos menús nutritivos para mantener a tu equipo motivado y productivo. </p></li>
            <li><p class="-text-azul">Conexión y cultura: Creamos espacios que fomentan el trabajo en equipo y la cohesión organizacional. </p></li>
         </ul>
         <ul>
         <p class="-text-azul">Diferenciadores Clave: </p>
           <li><p class="-text-azul">Menús personalizados para cada necesidad. </p></li>
           <li><p class="-text-azul">Certificación en seguridad alimentaria y enfoque sostenible. </p></li>
           <li><p class="-text-azul">Tecnología innovadora para una experiencia ágil y moderna.</p></li> 
         </ul>
        </div>
      </div>

    </section>
 

    <section>
      <div class="px-2 pb-2">
        <a href="https://wa.me/4461112413?text=Recibe%20asesoría%20sin%20costo"  target="_blank" ><img src="/assets/images/banners/comedores-industriales.webp"  width="100%"></a>
      </div>
    </section>  

    <section class="px-2 pb-2">
      <app-a-quien-servimos></app-a-quien-servimos>
    </section>
    

 


