
@import "src/assets/sass/variables"

.navbar-nav > li
  line-height: 20px
  margin: 0
  padding: 0 10px

.navbar-nav > li > a
  margin: 0
  padding: 0 10px
  vertical-align: bottom

#navbarNavDropdown
  line-height: 80px
  margin-top: auto

.nav-link
  color: $-gris-claro !important

.navbar-nav > li > a:hover
  color: $-color10 !important

.active
  color: $-color30 !important

.dropdown-item
   color: $-gris-claro !important

a.dropdown-item:hover
  color: $-color10 !important
  background-color: $-color30 !important
