
<nav class="navbar navbar-expand-lg bg-body-tertiary p-0 d-flex align-items-end">

  <div class="container-fluid">

    <a class="navbar-brand m-2" href="/"><img src="assets/images/mpm-logo.webp" class="img-fluid" width="100px" alt="Lounge & Food MPM"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav pb-1">

        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/somos']">Somos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Servicios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/servicios/comedor-empresarial']">Comedor empresarial</a></li>
            <li><a class="dropdown-item" [routerLink]="['/servicios/eventos-especiales']">Eventos especiales</a></li>
            <li><a class="dropdown-item" [routerLink]="['/servicios/cafeterias']">Cafeterias</a></li>
            <li><a class="dropdown-item" [routerLink]="['/servicios/catering']">Catering</a></li>
            <li><a class="dropdown-item" [routerLink]="['/servicios/desarrollo-de-proyectos']">Desarrollo de proyectos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Beneficios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/beneficios/alianzas-estrategicas']">Alianzas estratégicas</a></li>
            <li><a class="dropdown-item" [routerLink]="['/beneficios/certificaciones']">Certificaciones</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/bolsa-de-trabajo']">Bolsa de trabajo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/comunicados']">Comunicados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/contacto']">Contacto</a>
        </li>


      </ul>
    </div>

  </div>
  <app-search></app-search>
</nav>

<a href="https://wa.me/524421049006?text=Me%20gustaría%20obtener%20mayor%20información%20del%20" class="whatsapp" target="_blank"><i class="pi pi-whatsapp whatsapp-icon"></i></a>


