
<main>
    <app-breadcrumbs [firstItem]="item" [search]="search"></app-breadcrumbs>

  <section class="container-fluid px-0 py-1 my-0 text-center --hero">

    <div class="d-flex align-items-center justify-content-center col-md-6 h-100">

      <div class="text-start">
        <h1 class="-script">Bienvenídos a</h1>
        <h1 class="display-5">Lounge & Food<br>MPM</h1>

        <p class="pt-5">Lo hacemos por ti!</p>
        <a class="btn btn-primary btn-lg px-4 gap-3" [routerLink]="['/somos']" role="button">Más información</a>
      </div>

    </div>

  </section>

    <section class="-col-2">

        <div class="d-flex align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/mapa.jpg" class="img-fluid"  alt="ejemplo">

        </div>

        <div class="d-flex align-items-center justify-content-center px-3">

          <div class="">
            <h1 class="-titulo">MPM Servicios</h1>
              <h1 class="-titulo-gris">Servicios profesionales</h1>
              <br>
            <p>Desde 1997 contribuimos al bienestar y compromiso de las personas, facilitando la jornada laboral, mejorando la calidad de vida,  productividad y resultados en las organizaciones.</p>

                <p>Cobertura a nivel nacional gestionando estrategias  desde la oficina central ubicada en León, Gto.</p>
              <br>
          </div>

        </div>

    </section>


  <section>
    <div class="--titulo">
      <h1 class="-titulo-seccion">Servicios</h1>
    </div>

    <div class="-servicios -col-3">

      <div class="card">
        <div class="box">
          <div class="content">
            <h2>Comedor empresarial</h2>
            <img src="/assets/images/servicios/comedores-industriales.jpg" class="img-fluid pb-2" alt="ejemplo">
            <p>Creamos ambiente de trabajo positivo, transformando espacios. Fomentamos salud y bienestar a las personas.</p>
            <div class="-foot">
              <a class="" [routerLink]="['/servicios/comedor-empresarial']" role="button">Leer mas</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="box">
          <div class="content">
            <h2>Eventos especiales</h2>
            <img src="/assets/images/servicios/eventos-especiales.webp" class="img-fluid  pb-2" alt="ejemplo">
            <p>Estamos contigo en cada momento.
              <br>¡Nosotros nos hacemos cargo de todos tus eventos!
            </p>
            <div class="-foot">
              <a class="" [routerLink]="['/servicios/eventos-especiales']" role="button">Leer mas</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="box">
          <div class="content">
            <h2 class="">Cafeterias</h2>
            <img src="/assets/images/servicios/cafeterias.jpg" class="img-fluid  pb-2" alt="ejemplo">

            <p>Contribuimos al bienestar de los colaboradores dentro de su espacio laboral, creando un ambiente agradable.</p>
            <div class="-foot">
              <a class="" [routerLink]="['/servicios/cafeterias']" role="button">Leer mas</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="box">
          <div class="content">
            <h2 class="">Catering</h2>
            <img src="/assets/images/servicios/catering.webp" class="img-fluid  pb-2" alt="ejemplo">

            <p>No tienes instalaciones
              ¡Nosotros te llevamos!
              Contamos con estructura, instalaciones y  unidades equipadas idóneas para la gestión de servicio de alimentación </p>
            <div class="-foot">
              <a class="" [routerLink]="['/servicios/desarrollo-de-proyectos']" role="button">Leer mas</a>
            </div>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="box justify-content-center">
          <div class="content">

              <h2 class="">Desarrollo de proyectos</h2>
              <img src="/assets/images/servicios/desarrollo-de-proyectos.jpg" class="img-fluid  pb-2" alt="ejemplo">
              <p>Soluciones integrales que se adaptan a concepto, posibilidad y alcance.</p>

            <div class="-foot">
              <a class="" [routerLink]="['/servicios/desarrollo-de-proyectos']" role="button">Leer mas</a>
            </div>
          </div>
        </div>
      </div>




    </div>

  </section>


  <section>
    <div class="--titulo">
      <h1 class="-titulo-seccion">Servicios</h1>
    </div>

    <div class="--servicios -col-3">

      <div class="__card p-4">

        <h4 class="-titulo text-center">Comedor empresarial</h4>
        <img src="/assets/images/servicios/comedores-industriales.jpg" class="img-fluid pb-2" alt="ejemplo">

        <p>Creamos ambiente de trabajo positivo, transformando espacios. Fomentamos salud y bienestar a las personas.</p>
        <br>

        <a class="-btn-ver-mas float-end" [routerLink]="['/servicios/comedor-empresarial']" role="button">Leer mas</a>
      </div>


      <div class="__card px-4 pt-4">
        <h4 class="-titulo text-center">Eventos especiales</h4>
        <img src="/assets/images/servicios/eventos-especiales.webp" class="img-fluid  pb-2" alt="ejemplo">

        <p>Estamos contigo en cada momento.
          <br>¡Nosotros nos hacemos cargo de todos tus eventos!
        </p>
        <br>
        <a class="-btn-ver-mas float-end" [routerLink]="['/servicios/eventos-especiales']" role="button">Leer mas</a>


      </div>

      <div class="__card p-4">
        <h4 class="-titulo text-center">Cafeterias</h4>
        <img src="/assets/images/servicios/cafeterias.jpg" class="img-fluid  pb-2" alt="ejemplo">

        <p>Contribuimos al bienestar de los colaboradores dentro de su espacio laboral, creando un ambiente agradable.</p>
        <br>
        <a class="-btn-ver-mas float-end" [routerLink]="['/servicios/cafeterias']" role="button">Leer mas</a>
      </div>

      <div class="__card p-4">
        <h4 class="-titulo text-center">Catering</h4>
        <img src="/assets/images/servicios/catering.webp" class="img-fluid  pb-2" alt="ejemplo">

        <p>No tienes instalaciones
          ¡Nosotros te llevamos!
          Contamos con estructura, instalaciones y  unidades equipadas idóneas para la gestión de servicio de alimentación </p>
        <br>
        <a class="-btn-ver-mas float-end" [routerLink]="['/servicios/catering']" role="button">Leer mas</a>
      </div>
      <div class="__card p-4">
        <h4 class="-titulo text-center">Desarrollo de proyectos</h4>
        <img src="/assets/images/servicios/desarrollo-de-proyectos.jpg" class="img-fluid  pb-2" alt="ejemplo">

        <p>Soluciones integrales que se adaptan a concepto, posibilidad y alcance.
        </p>
        <br>

          <a class="-btn-ver-mas float-end" [routerLink]="['/servicios/desarrollo-de-proyectos']" role="button">Leer mas</a>

      </div>
    </div>
  </section>



  <section class="pb-3">

          <div class="--titulo">
            <h1 class="-titulo-seccion">Comunicados</h1>
          </div>


          <div class="&#45;&#45;card -err"  *ngFor="let blog of blogs ">
            <div class="row">

              <div class="col-md-6">
                <a [routerLink]="['/blog', blog.slug]">
                  <img [src]="blog._id | image: 'blogs' : blog.image"  [alt]="blog.name" class="img-fluid">
                </a>
              </div>

              <div class="col-md-6 px-3">
                <div class="card-body">
                  <h1 class="-titulo">{{blog.name}}</h1>

                  <p class="card-text"><small class="text-muted">{{ blog.date | date: 'dd MMM yyyy'}}</small></p>

                  <div [innerHTML]="blog.intro | truncate: 200" class="-intro" ></div>

                  <div class="text-end">
                    <a [routerLink]="['/blog', blog.slug ]" class="btn btn-primary">ver mas</a>
                  </div>

                </div>
              </div>

            </div>
          </div>
        <mat-spinner *ngIf="isloading"></mat-spinner>

        <div class="text-end m-2">
          <a (click)="getPlus()" class="-boton-azul btn btn-primary">ver mas comunicados</a>
        </div>

    <div class="-pub-right text-end end m-2">
      <button onclick='window.scrollTo({top: 0, behavior: "smooth"});' class="-boton-azul btn btn-primary">
        ir al principio <i class="pi pi-arrow-up" style="font-size: 1.0rem"></i>

      </button>

    </div>



  </section>




  </main>
