<form
  class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework"
  novalidate="novalidate"
  id="kt_login_signup_form"
  [formGroup]="registrationForm"
  (ngSubmit)="submit()">
  <!--begin::Heading-->
  <div class="mb-10 text-center">
    <h1 class="text-dark mb-3">Hola {{ user.name }}</h1>
  </div>
  <div class="mb-10 text-center">
    <h1 class="text-dark mb-3">Cambiar Contraseña</h1>
  </div>
  <!--end::Heading-->


  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Se encontro un error intenta nuevamente
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="hasErrorToken">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        El token ya no es valido,
        <a routerLink="/auth/forgot-password"
                class="link-primary fw-bolder"
                [style.margin-left]="'5px'"
        >vuelva a ingresar para recupear su contraseña</a
        >
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="mb-10 fv-row">
    <label class="form-label fw-bolder text-dark fs-6">Contraseña</label>
    <input
      class="form-control form-control-lg form-control-solid"
      type="password"
      placeholder="Contraseña"
      name="password"
      formControlName="password"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': registrationForm.controls['password'].invalid,
        'is-valid': registrationForm.controls['password'].valid
      }"
    />
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Se requiere contraseña',
        control: registrationForm.controls['password']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'La contraseña debe tener al menos 8 caracteres',
        control: registrationForm.controls['password']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'La contraseña debe tener un máximo de 100 caracteres',
        control: registrationForm.controls['password']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-5">
    <label class="form-label fw-bolder text-dark fs-6">Confirmar Contraseña</label>
    <input
      class="form-control form-control-lg form-control-solid"
      type="password"
      placeholder="Confermar contraseña"
      name="cPassword"
      autocomplete="off"
      formControlName="cPassword"
      [ngClass]="{
        'is-invalid': registrationForm.controls['cPassword'].invalid,
        'is-valid': registrationForm.controls['cPassword'].valid
      }"
    />
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Se requiere confirmar contraseña',
        control: registrationForm.controls['cPassword']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Confirmar contraseña debe tener al menos 8 caracteres',
        control: registrationForm.controls['cPassword']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Confirmar contraseña debe tener un máximo de 100 caracteres',
        control: registrationForm.controls['cPassword']
      }"
    ></ng-container>
    <ng-container
      *ngIf="
        registrationForm.controls['cPassword'].errors &&
        registrationForm.controls['cPassword'].errors.ConfirmPassword
      "
    >
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          'Contraseña' y 'Confirmar contraseña' no coinciden.
        </div>
      </div>
    </ng-container>
  </div>
  <!--end::Form group-->


  <!--begin::Form group-->
  <div class="text-center">
    <button
      type="submit"
      id="kt_sign_up_submit"
      [disabled]="registrationForm.invalid"
      class="btn btn-lg btn-primary w-100 mb-5">
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Continuar</span>
      </ng-container>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Espere por favor...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
    </button>
    <a
      routerLink="/auth/login"
      type="button"
      id="kt_login_signup_form_cancel_button"
      class="btn btn-lg btn-light-primary w-100 mb-5"
    >
      Cancelar
    </a>
  </div>
  <!--end::Form group-->
</form>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>
