<!-- begin::Header -->
<div class="card-header border-0 pt-5 d-flex justify-content-between">
    <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Lista, creación, edición de Usuarios</span>
    </h3>
    <div class="card-toolbar">
        <button pButton pRipple type="button" icon="pi pi-plus" (click)="created()" label="Crear" class="p-button-rounded p-button-info" ></button>
    </div>
</div>
<button class="d-none" (click)="setUnit()" #btn></button>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
        <p-table #dt [value]="users" [(selection)]="selectedUsers" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
                 [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" responsiveLayout="scroll"
                 [paginator]="true" currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} usuarios"
                 [filterDelay]="0" [globalFilterFields]="['name','email', 'role', 'active']">
            <ng-template pTemplate="caption">
                <div class="bg-light- row flex align-items-center justify-content-end">
                    <div class="col">
                        <h5 class="m-0"></h5>
                    </div>
                    <div class="col d-flex  justify-content-end">
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal(search.value, 'contains')" placeholder="Busqueda Global" #search/>
                    </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" class="bg-primary">
                <tr>
                    <th pSortableColumn="name">
                        <div class="flex justify-content-between align-items-center">
                            Nombre
                            <p-sortIcon field="name"></p-sortIcon>
                            <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="email">
                        <div class="flex justify-content-between align-items-center">
                            Email
                            <p-sortIcon field="email"></p-sortIcon>
                            <p-columnFilter type="email" field="email" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="role">
                        <div class="flex justify-content-between align-items-center">
                            Perfil
                            <p-sortIcon field="role"></p-sortIcon>
                            <p-columnFilter type="text" field="role" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th  style="width: 12rem" pSortableColumn="active">
                        <div class="flex justify-content-between align-items-center">
                            Status
                            <p-sortIcon field="active"></p-sortIcon>
                            <p-columnFilter field="active" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Todos" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th style="width: 12rem">
                        <div class="flex justify-content-end align-items-center">
                            <span class="float-end">Acciones</span>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-ri="rowIndex">
                <tr class="p-selectable-row" *ngIf="user.role != 'SUPER_ADMIN_ROLE'">
                    <td (click)="editUser(user)">
                        <span class="p-column-title">nombre</span>
                        {{user.name}}
                    </td>
                    <td (click)="editUser(user)">
                        <span class="p-column-title">email</span>
                        {{user.email}}
                    </td>
                    <td (click)="editUser(user)">
                        <span class="p-column-title">perfil</span>
                        <span [ngSwitch]="user.role">
                            <span *ngSwitchCase="'ADMIN_ROLE'">Administrador</span>
                            <span *ngSwitchCase="'EMPLOYEE_ROLE'">Empleado</span>
                            <span *ngSwitchCase="'CLIENT_ROLE'">Cliente</span>
                        </span>
                    </td>
                    <td>
                        <span class="p-column-title">status</span>
                        <span class="badge badge-light-success fs-7 fw-bold" *ngIf="user.active">Activo</span>
                        <span class="badge badge-light-danger fs-7 fw-bold" *ngIf="!user.active">In Activo</span>
                    </td>
                    <td style="text-align: center" *ngIf="signedUser$ | async as _signedUser">
                        <!--                        <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>-->
                        <button type="button" (click)="active(user.uid, !user.active)"
                                [title]="user.active ? 'Desactivar':'Activar'"
                                class="btn btn-icon btn-bg-light btn-sm me-1"
                                [class.btn-active-color-danger]="user.active"
                                [class.btn-active-color-success]="!user.active"
                                *ngIf="_signedUser.id != user.uid"
                                [disabled]="isLoading">
                            <ng-container *ngIf="!isLoading">
                                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'" class="svg-icon svg-icon-3"></span>
                            </ng-container>
                            <ng-container *ngIf="isLoading">
                                <span class="indicator-progress" [style.display]="'block'">
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </ng-container>
                        </button>
                        <button type="button" (click)="editUser(user)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" title="Editar" [disabled]="isLoading">
                            <ng-container *ngIf="!isLoading">
                                <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'" class="svg-icon svg-icon-3"></span>
                            </ng-container>
                            <ng-container *ngIf="isLoading">
                                <span class="indicator-progress" [style.display]="'block'">
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </ng-container>
                        </button>
                        <button type="button"
                                title="Eliminar"
                                *ngIf="_signedUser.id != user.uid"
                                (click)="delete(user.uid)"
                                class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm cursor-pointer"
                                [disabled]="isLoading">
                            <ng-container *ngIf="!isLoading">
                                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'" class="svg-icon svg-icon-3"></span>
                            </ng-container>
                            <ng-container *ngIf="isLoading">
                                <span class="indicator-progress" [style.display]="'block'">
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </ng-container>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No se encontro ningun usuario.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [header]="create ? 'Crear Usuario':'Editar Usuario ' + user.name" [(visible)]="userDialog" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
    <ng-template pTemplate="body">
        <form (ngSubmit)="saveUser(formCreate)"  #formCreate="ngForm">
            <div class="p-fluid grid row">
                <div class="field col-12 mt-5 pt-3">
                  <span class="p-float-label">
                      <input type="text" id="name" name="name" pInputText [(ngModel)]="user.name" autocomplete="off" required>
                      <label for="name">Nombre</label>
                  </span>
                </div>
                <div class="field col-12 mt-5 pt-3">
                  <span class="p-float-label">
                      <input type="email" id="email" name="email" pInputText [(ngModel)]="user.email" autocomplete="off" required>
                      <label for="email">Email</label>
                  </span>
                </div>
                <div class="field col-12 mt-5 pt-3">
                  <span class="p-float-label">
                    <p-dropdown inputId="role" id="role" name="role" [autoDisplayFirst]="false" [options]="roles" [(ngModel)]="role" optionLabel="name"></p-dropdown>
                    <label for="role">Rol</label>
                  </span>
                </div>
                <div class="field col-12 mt-5 pt-3">
                  <span class="p-float-label p-input-icon-right">
                      <i class="pi pi-eye" *ngIf="!viewPassword" (click)="togglePassword()"></i>
                      <i class="pi pi-eye-slash" *ngIf="viewPassword" (click)="togglePassword()"></i>
                      <input [type]="typePassword" id="password" name="password" min="8" pInputText [ngClass]="{'ng-invalid ng-dirty': pError }" [(ngModel)]="user.password" [required]="create">
                      <label for="password">Contraseña</label>
                      <small id="password-help" class="p-error block" *ngIf="pError">Las contraseñas debe coincidir.</small>
                  </span>
                </div>
                <div class="field col-12 mt-5 pt-3">
                  <span class="p-float-label p-input-icon-right">
                      <i class="pi pi-eye" *ngIf="!viewPass" (click)="togglePass()"></i>
                      <i class="pi pi-eye-slash" *ngIf="viewPass" (click)="togglePass()"></i>
                      <input [type]="typePass" id="pass" name="pass" min="8" pInputText [ngClass]="{'ng-invalid ng-dirty': pError }" [(ngModel)]="user.pass" [required]="create">
                      <label for="pass">Repite Contraseña</label>
                      <small id="pass-help" class="p-error block" *ngIf="pError">Las contraseñas debe coincidir.</small>
                  </span>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-5">
                <p-button icon="pi pi-ban" (click)="userDialog=false" label="Cancelar" styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
                <p-button type="submit" icon="pi pi-check"
                          *ngIf="formCreate.valid"
                          label="Guardar"
                          styleClass="p-button-rounded p-button-success"></p-button>
            </div>
        </form>
    </ng-template>
</p-dialog>
