
<main>

  <app-breadcrumbs [firstItem]="item" [secondaryItem]="secondaryItem" [search]="search"></app-breadcrumbs>

  <section class="pb-3">

    <div class="--titulo">
      <h1 class="-titulo-seccion">{{ this.titulo }}</h1>
    </div>


    <app-servicios-beneficios></app-servicios-beneficios>

    <section class="m-4 p-2">
      <div class="-col-2">
        <div class="  px-3">
          <h2>Definición</h2>

          <p>Diseño y desarrollo de proyectos acompañando a nuestros clientes hasta el inicio de operaciones</p>

          <p>Creamos Soluciones integrales que se adaptan a concepto, posibilidad y alcance.</p>

          <p>Mejoramos espacios para tú bienestar, optimizando la distribución y funcionalidad.</p>

          <p>Convertimos tus ideas en realidad, cumpliendo con los estándares que la industria requiere.</p>

          <h2>Ventajas</h2>

          <p>Somos expertos en</p>
          <ul>
            <li><p>Diseño de comedores</p></li>
            <li><p>Gestión de instalaciones</p></li>
            <li><p>Servicio de soporte</p></li>
          </ul>

          <p>Nuestro Giro principal de MPM es el servicio de alimentación, pero para facilitar la eficiencia y productividad en la operación.</p>

          <p>Contamos con servicio de mantenimiento industrial de equipos de cocina, campamentos remotos, obra civil y limpieza.</p>

          <p>El cliente tiene la garantía y tranquilidad ya que el equipo MPM trabaja en sus instalaciones  operando de acuerdo con altos estándares de seguridad y salud. Generando grandes beneficios, optimizando de recursos, mejorando la seguridad laboral, aumentando la disponibilidad de los equipos.</p>


          <h2>Aplicaciones</h2>

          <p>Este servicio es adecuado para todas las áreas de la empresa moderna en oficinas corporativas, bodegas, fabricas, trabajo de campo, etc.</p>
        </div>

        <div class=" align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/servicios/catering.webp" class="img-fluid"  width="100%" alt="Catering">
        </div>
      </div>


    </section>

  </section>
</main>

