
<main>

  <app-breadcrumbs [firstItem]="item" [secondaryItem]="secondaryItem" [search]="search"></app-breadcrumbs>

  <section>
    <div class="d-flex justify-content-center">

      <h2 class="-titulo-video -text-clear">Diseño de comedores</h2>

      <video autoplay loop muted playsinline class="" width="100%" height="auto">
        <source src="/assets/videos/desarrollo-de-proyectos.mp4" type="video/mp4">
      </video>

    </div>
  </section>

    <section class="mx-4 p-2">
      <div class="row">
        <div class=" col-md-6  px-3">
          <h1>¡Transforma tu espacio, potencia tu equipo! </h1>

          <p>En MPM, no solo diseñamos comedores industriales: creamos entornos que inspiran productividad y bienestar. Te acompañamos en cada paso, desde la planeación hasta la puesta en marcha, asegurándonos de que cada detalle se ajuste a tus necesidades y supere tus expectativas. </p>

          <p>Nuestro Giro principal de MPM es el servicio de alimentación, pero para facilitar la eficiencia y productividad en la operación.</p>

          <p>Contamos con servicio de mantenimiento industrial de equipos de cocina, campamentos remotos, obra civil y limpieza.</p>

          <p>El cliente tiene la garantía y tranquilidad ya que el equipo MPM trabaja en sus instalaciones  operando de acuerdo con altos estándares de seguridad y salud. Generando grandes beneficios, optimizando de recursos, mejorando la seguridad laboral, aumentando la disponibilidad de los equipos.</p>


        </div>

        <div class="col-md-6  align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/servicios/desarrollo-de-proyectos.webp" class="img-fluid"  width="100%" alt="Desarrollo-de-proyectos">
         
        </div>
      </div>

    </section>

    <section class="mx-4 p-2">
      <div class="row">
        <div class=" col-md-6  px-3">
          <h1>¿Por qué elegirnos? </h1>

          <ol>
            <li><p>Experiencia que marca la diferencia:</p></li>
            <ul>
            <li><p>Diseñamos comedores funcionales, modernos y adaptados a tu industria. </p></li>
            <li><p>Ofrecemos una gestión integral de instalaciones que asegura operaciones sin interrupciones. </p></li>
            <li><p>Brindamos soporte continuo para que nunca te preocupes por los detalles. </p></li>
            </ul>
            <li><p>Soluciones más allá del diseño: MPM no solo se especializa en alimentación; también ofrecemos:</p></li>
            <ul>
            <li><p>Mantenimiento industrial de equipos de cocina para mantener la eficiencia. </p></li>
            <li><p>Construcción y adecuación de campamentos remotos que cumplen con los más altos estándares. </p></li>
            <li><p>Servicios de obra civil y limpieza que garantizan espacios impecables. </p></li>
            </ul>
            <li><p>Beneficios que sentirás desde el primer día: </p></li>
            <ul>
            <li><p>Maximización de recursos: Optimizamos costos y tiempos en cada proceso. </p></li>
            <li><p>Entornos seguros: Diseñamos espacios que priorizan la salud y seguridad laboral. </p></li>
            <li><p>Rendimiento garantizado: Aumentamos la vida útil de tus equipos y mejoramos su disponibilidad. </p></li>
            </ul>
            <li><p>Lo que nos hace únicos: </p></li>
            <ul>
              <li><p>Adaptamos cada proyecto a tus ideas y necesidades. </p></li>
              <li><p>Cumplimos con los más altos estándares de seguridad, higiene y calidad. </p></li>
              <li><p>Nuestro equipo trabaja codo a codo contigo para garantizar resultados excepcionales. </p></li>
            </ul>
          </ol>

        </div>

        <div class="col-md-6  align-items-center justify-content-center px-3 py-2">
          
          <img src="/assets/images/servicios/plano-cocina.webp" class="img-fluid"  width="100%" alt="Plano de cocina">
        </div>
      </div>

    </section>

    

    <section>
      <div class="px-2 pb-2">
        <img src="/assets/images/banners/proyectos-de-diseno.webp"  width="100%">
      </div>
    </section>  
  
    
    
   

</main>

