<section class="m-4 p-2">


  <div class="px-3">
    <h1>Programas y certificaciones</h1>

    <p>Todos nuestros procedimientos en basados en normas NORMA Oficial Mexicana NOM-251-SSA1-2009 , nmx-f-605-normex-2016</p>
    <p><strong>(Prácticas de higiene para el proceso de alimentos, bebidas o suplementos alimenticios).</strong></p>
    <p>ISO 9001:2015 (Sistema de Gestión de la Calidad), ISO 14001:2015 (Medio Ambiente) e ISO 14001:2018 (Seguridad y Salud Ocupacional).</p>
    <p>Cumplimos, con todas las regulaciones vigentes en materia de seguridad y trabajamos día con día para crear una cultura de seguridad. Promoviendo acciones que compromete el equipo de trabajo, desarrollando un mejoramiento continuo de nuestros procesos.</p>
    <p>Programa de formación interno de nuestra plantilla: nuestro personal operativo está perfectamente capacitado y formado para realizar cada trabajo con la máxima calidad y profesionalidad.</p>
  </div>
</section>
