<main>

  <app-breadcrumbs [firstItem]="item" [search]="search"></app-breadcrumbs>
  
 
  

  <section class="pb-3">

        <div class="--titulo">
          <h1 class="-titulo-seccion">Acerca de nosotros</h1>
          <p class="-subtiulo-seccion">transforma tu ambiente laboral con nuestros servicios</p>
        </div>

        <section class="m-4 p-2">
          <h1>Alimentamos el Éxito de tu Empresa</h1>
          <p>Servicios de comedor industrial diseñados con excelencia, ética y un compromiso inquebrantable contigo.</p>
        </section>

        <section class="m-4 pb-2">
          <h3>Acerca de nosotros </h3>
          <div class="-col-2">
            <div class="">
              <img src="/assets/images/nosotros.webp" class="img-fluid"  width="100%" alt="nuestra filosofía">
            </div>

            <div class="px-4">
              <p>En Lounge & Food MPM, creemos que la alimentación es el motor que impulsa a las organizaciones hacia el éxito. Con más de 27 años de experiencia, nuestro enfoque combina innovación, calidad y una ética empresarial sólida para ofrecer soluciones que trascienden lo convencional. 

                <p class="strong">Nuestro Diferenciador Clave: Servicio de Excelencia </p>
              
                <p>No solo servimos alimentos, creamos experiencias. Nos diferenciamos por: </p>
                <ul>
                    <li><p>Calidad inigualable: Ingredientes frescos y preparación impecable. </p></li>
                    <li><p>Adaptabilidad: Diseñamos servicios personalizados según las necesidades de cada cliente. </p></li>
                    <li><p>Operación ágil y eficiente: Cumplimos a tiempo y superamos expectativas. </p></li>
                    <li><p>Cultura de sostenibilidad: Integramos prácticas responsables para cuidar nuestro entorno. </p></li>
                    <li><p>Innovación Permanente: Trabajamos constantemente en encontrar ideas frescas y creativas, respaldados por nuestros chefs expertos que comparten nuestra pasión por la excelencia. </p></li>
                </ul>
            </div>
          </div>
        </section>

        

       

        <section>
          
          <div class="-col-2">
            <div class="px-3">
              <h3>Nuestra misión</h3>

              <p>“Ser el aliado estratégico de empresas líderes, brindando soluciones alimenticias que promuevan el bienestar y la productividad.” </p>

              <h1>Nuestra Visión </h1>

              <p>Liderar el mercado global como referencia en servicios de comedor industrial, con un enfoque en innovación y sostenibilidad. </p>
            </div>
            <div class=" align-items-top justify-content-center px-3 py-2">
              <img src="/assets/images/mision.webp" class="img-fluid"  width="100%" alt="misión visión">
            </div>
          </div>
        </section>

        <section class="">

          <div class="-col-2">
            <div class="px-3">
              <h1>Nuestros Valores y Principios Éticos </h1>

              <p>En Lounge & Food MPM, la ética empresarial no es solo un valor, es nuestra prioridad y base para el éxito sostenible. </p>
              <ul>
                <li><p>Lealtad: Fomentamos relaciones sólidas y de confianza. </p></li>
                <li><p>Respeto por los demás: Reconocemos y valoramos a todas las personas, desde colaboradores hasta clientes.</p></li> 
                <li><p>Transparencia e integridad: Operamos con honestidad y claridad en cada decisión. </p></li>
                <li><p>Tolerancia cero a las malas prácticas: Actuamos con responsabilidad y firmeza ante cualquier conducta inapropiada. </p></li>
                <p>Estos valores nos inspiran a operar con excelencia y compromiso hacia cada uno de nuestros stakeholders.</p>
              </ul>

            </div>
            <div class=" align-items-top justify-content-center px-3 py-2">
              <img src="/assets/images/valores.webp" class="img-fluid"  width="100%" alt="valores y principios éticos">
              

            </div>

          </div>
        </section>

        <section class="m-4 pb-2">
          <h3>Nuestra Filosofía Empresarial</h3>
          <div class="-col-2">
            <div class="">
              <img src="/assets/images/filosofia.webp" class="img-fluid"  width="100%" alt="nuestra filosofía">
            </div>

            <div class="px-4">
                <p>Creemos que cada cliente merece más que un proveedor; merece un socio estratégico. Por eso, combinamos innovación, ética y dedicación en cada proyecto. Alimentamos no solo cuerpos, sino también relaciones de confianza y éxito. </p>
            </div>
          </div>
        </section>

    <section>
      <div class="px-4">
        <a href="https://wa.me/4461112413?text=Me%20gustaría%20obtener%20mayor%20información%20del%20"  target="_blank" ><img src="/assets/images/banners/mision.webp"  width="100%" alt="¿Estás listo para transformar la experiencia de alimentación en tu empresa? "></a>
      </div>
    </section>   

    <section class="m-4 pb-2">
      
      <div class="-col-2">
        <div class="">
          <img src="/assets/images/bolsa-de-trabajo.webp" class="img-fluid"  width="100%" alt="nuestra filosofía">
        </div>

        <div class="px-4">
          <h3>Los Clientes: Nuestra Razón de Ser </h3>
          <p>En Lounge & Food MPM, no solo atendemos a nuestros clientes, los entendemos. Cada interacción es una oportunidad para escuchar, aprender y superar expectativas. La satisfacción de nuestros clientes es el motor que impulsa nuestra innovación y excelencia operativa.  </p>

          <h3>Comprometidos con Tu Experiencia </h3>
          <ul>
              <li><p>Tu satisfacción, nuestra prioridad: Encontramos soluciones únicas y personalizadas que se adaptan a las necesidades específicas de cada cliente. </p></li>
              <li><p>Innovamos para ti: Comprender tus deseos y necesidades nos permite desarrollar estrategias innovadoras y vanguardistas.</p></li> 
            	<li><p>Relaciones duraderas: Más allá de clientes, construimos alianzas basadas en confianza, respeto y resultados tangibles.</p></li>   
          </ul>

            <h3>Siempre Mejorando para Ti </h3>
            <p>Nuestros clientes son quienes nos inspiran a ser mejores cada día. Gracias a sus comentarios y retroalimentación, transformamos desafíos en oportunidades y logramos mejorar constantemente nuestras estrategias, procesos y servicios. </p>


        </div>
      </div>
    </section>

    <section class="m-4 pb-2">
      <h3>Tu Experiencia es Nuestra Prioridad </h3>
      <div class="-col-2">
        <div class="">
          <img src="/assets/images/tu-experiencia.webp" class="img-fluid"  width="100%" alt="nuestra filosofía">
        </div>

        <div class="px-4">
          <p>Desde el momento en que confías en nosotros, nuestro compromiso es ofrecerte mucho más que un servicio; queremos brindarte una experiencia memorable, eficiente y adaptada a tus expectativas. </p>

          <h3>Nuestro Diferenciador Clave para el Cliente </h3>

          <ol>
            <li><p>Atención personalizada: Escuchamos, entendemos y respondemos. </p></li>
            <li><p>Excelencia operativa: Garantizamos un servicio impecable en cada interacción. </p></li>
            <li><p>Enfoque en soluciones: Nos anticipamos a tus necesidades con estrategias innovadoras. </p></li>
            <li><p>Relación de confianza: Construimos alianzas a largo plazo basadas en resultados y ética empresarial. </p></li>
          </ol>

        </div>
      </div>
    </section>


    <section>
      <div class="px-4">
        <a href="https://wa.me/4461112413?text=Conoce%20más%20sobre%20nuestros%20servicios"  target="_blank" ><img src="/assets/images/banners/mision-2.webp"  width="100%" alt="¿Estás listo para elevar el nivel de servicio en tu empresa? "></a>
      </div>
    </section>  
    


    <section>
      <div class="--titulo">
        <h1 class="-titulo-seccion">Comprometidos</h1>
      </div>

      <div class="w-100 p-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active -titulo text-center" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Salúd</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link -titulo text-center" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Medio ambiente</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link -titulo text-center" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Seguridad</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="__card p-4 border">
              <img src="/assets/images/salud.webp" class=" w-50 float-md-start me-md-3 mb-0 " alt="salud">

              <p>Proteger la salud de nuestros empleados, clientes y proveedores es nuestra máxima prioridad.</p>
              <p><strong>Impulsamos la vida saludable</strong></p>
              <p>Promovemos opciones saludables todos los días.</p>

              <p>Propiciamos una cultura preventiva de salud y vida sana, a través de programas impartidos por nuestro departamento de nutrición, ofreciendo una alimentación balanceada de acuerdo a la actividad física y estado de salud de los comensales.</p>

              <p>Este servicio es muy específico y detallado, va dirigido para todas aquellas personas que por indicación médica o que por problemas de salud requieren de un régimen alimenticio muy estricto en porciones y horarios.</p>

            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="__card p-4 border">

              <img src="/assets/images/medio-ambiente.webp" class="w-50 float-md-start me-md-3 mb-0 pe-3" alt="ejemplo">

              <p>Estamos enfocamos en el bienestar de nuestro planeta, sumando esfuerzos minimizamos el impacto medioambiental en todas nuestras operaciones.</p>
              <p>A través de <strong>Operaciones más eficientes</strong></p>
              <ol>
                <li><p>Cuidando el consumo de agua, gas y energía</p></li>
                <li><p>Minimizando desperdicios generado por mermas de elaboración y escamoche derivados de la prestación de servicio.</p></li>
                <li><p>Separación de residuos.</p></li>
                <li><p>Fomentamos el reciclaje.</p></li>
                <li><p>Asegurar el abastecimiento responsable, alianza con proveedores para mejorar la eficiencia energética a través de la reducción en el consumo de combustible, reducir las emisiones de gases de efecto invernadero y la contaminación atmosférica causada por las actividades de transporte de carga por carretera; y reducir costos de operaciones de transporte de carga por carretera.</p></li>
              </ol>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="__card p-4 border">

              <img src="/assets/images/seguridad.webp" class="w-50 float-md-start me-md-3 mb-0 " alt="ejemplo">

              <p>Lideramos Cultura de Seguridad</p>
              <p>El bienestar de nuestros colaboradores, clientes, proveedores es prioridad; por ello, debemos cumplimos con normas internas y disposiciones legales de seguridad que se establecen de forma homogénea en cada lugar de trabajo.</p>

              <p>Seguridad en todos nuestros procesos, reclutamiento de personal, compra de materia prima, venta de servicios y operación de nuestro negocio. Anteponemos la seguridad en todo lo que hacemos.</p>

              <p>Comprometidos en  mantener un ambiente de trabajo seguro, libre de amenazas y productivo para todos los empleados, clientes y proveedores.</p>

              <p>Cumplimos con todas las regulaciones de seguridad alimentaria, y de seguridad laboral y medioambiental aplicables a las industrias y zonas en las que operamos.</p>

              <p>La confianza que nuestros colaboradores, consumidores y clientes depositan en nosotros es fundamental para proteger la reputación y el éxito a largo plazo de MPM.</p>

              <p>Proporcionamos formación y recursos enfocados en seguridad, dotando a nuestros equipos de prácticas laborales seguras que cumplen con la normativa de prevención de accidentes, lesiones e intoxicaciones alimentarias, como también la protección del medioambiente.</p>

            </div>
          </div>
        </div>
      </div>


    </section>




    <section class="pb-3">
      <h1 class="-titulo-seccion">Alianzas estratégicas</h1>
      <app-alianzas></app-alianzas>

      
    </section>


  </section>

</main>
