<main>

  <app-breadcrumbs [firstItem]="item" [search]="search"></app-breadcrumbs>

  <section class="pb-3">

    <div class="--titulo">
      <h1 class="-titulo-seccion">Acerca de nosotros</h1>
    </div>

    <section class="m-4 p-2">
      <h1>Quienes somos</h1>
      <p>Somos tu mejor opción
      <br><b>Con más de 27 años brindando servicio de excelencia</b></p>

      <div class="-col-2">
        <div class="d-flex align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/plato-servido.webp" class="img-fluid"  width="100%" alt="plato servido">
        </div>
        <div class="  px-3">
          <p>Enfoque centrado en el cliente, brindamos soluciones basadas en necesidades, preferencias de sus colaboradores y sus objetivos organizacionales. Lo que le permite al cliente contar con mayor tiempo para dedicarse a lo que mejor hacen.
            Con MPM los empleados se ven beneficiados por la prestación que las organizaciones les ofrecen tales como:</p>
          <ol>
            <li><p>Tiempo libre para disfrutar de las actividades que más le agradan fuera del trabajo, despreocupándose de la preparación del alimento del día de mañana.</p></li>
            <li><p>Ahorran dinero</p></li>
            <li><p>Variedad de alimentos, rica y saludable.</p></li>
            <li><p>Alimentación balanceada, ligera y nutritiva: Cuando el empleado recibe una comida completa y equilibrada, su desempeño será aún mejor dentro de la empresa, pues se sentirá satisfecho y con energía para seguir desarrollando sus actividades.</p></li>
            <li><p>Alimentos preparados con los más altos niveles de higiene</p></li>
            <li><p>Prevención de enfermedades. Un beneficio estimulante, satisfactorio qué recibe un trabajador generando un compromiso optimo y mejorando una mayor productividad.</p></li>
          </ol>
          <p>Los clientes son nuestra razón de ser
            Siempre encontramos formas para satisfacer los deseos y necesidades de nuestros clientes.
            Ofrecerles la mejor experiencia es nuestra razón de ser.
            Son ellos quienes nos dan la pauta para que cada día mejoremos nuestras estrategias.
            Comprender al cliente es nuestra base para la innovación.
          </p>
        </div>
      </div>
    </section>

    <section class="m-4 p-2">
      <h1>Servicios de alimentación</h1>
      <p>Nuestra pasión es servirte!
        <br><b>Creamos Soluciones que generan impacto</b></p>

      <div class="-col-2">
        <div class="d-flex align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/servicios-de-alimentacion.webp" class="img-fluid"  width="100%" alt="servicios-de-alimentación">
        </div>
        <div class="  px-3">


          <p>Soluciones gastronómicas creativas y nutritivas que brindan el máximo beneficio a los servicios de alimentación. Utilizamos nuestra experiencia, conocimiento, y nuestra pasión por la innovación, para desarrollar soluciones replicables y personalizables a las necesidades de nuestros comensales y clientes.</p>
          <p>Cada cliente tiene demandas de alimentos únicas. Los esperamos con una cálida hospitalidad, y excelente servicio, independiente del tamaño y ubicación geográfica de nuestros clientes. Nuestra gestión nos permite ofrecer este servicio al menor costo.</p>
          <p>Lo hacemos porque nos apasiona brindar servicio de alimentación que une a las personas para compartir grandes momentos. Lo que nos motiva a todos en MPM es ofrecer el mejor y más eficiente servicio de alimentación para cada cliente, de forma permanente, ética y sostenible.</p>
          <p>Siempre estamos trabajando para encontrar las ideas más frescas e innovadoras, apoyándonos en la experiencia de nuestros grandes chefs que comparten nuestra pasión.
          <p>Convertimos momentos cotidianos en experiencias extraordinarias</p>
          <p>Permítenos llevar nuestra experiencia y soluciones personalizadas a tu empresa. CONTACTANOS</p>
        </div>
      </div>
    </section>

    <div class="d-flex align-items-center justify-content-center px-3 py-2">
      <img src="/assets/images/sushi.webp" class="img-fluid"  width="60%" alt="barra de sushi">
    </div>

    <section class="m-4 p-2">
      <div class="-col-2">
        <div class="px-3">
          <h3>Misión</h3>
          <p>Apoyar a nuestros clientes para cubrir las necesidades clave en la alimentación de su personal.</p>

          <p>Proporcionar a nuestros clientes servicios de alimentación y limpieza de inmuebles con personal altamente capacitado con las mejores técnicas de servicio y utilizando los mejores materiales.</p>

          <p>Garantizar la satisfacción de nuestros clientes con base a mejora continua de Lounge & food mpm para proporcionar la higiene, calidad y atención personalizada. Desarrollando productos y servicios para satisfacer las necesidades y preferencias de nuestros clientes.</p>

          <h3>Visión</h3>

          <p>Ser la empresa líder en el país en proporcionar servicios de alimentación de personal y limpieza de inmuebles.</p>

          <p>Ser el mejor socio comercial de nuestros clientes y el mejor referente de calidad y servicio.</p>
        </div>
        <div class="d-flex align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/mision.webp" class="img-fluid"  width="100%" alt="misión visión">
        </div>
      </div>

    </section>

    <section class="m-4 p-2">
      <h1>Valores y principios éticos.</h1>
      <div class="-col-2">
        <div class="px-3">
          <p>Comprometidos con los valores.</p>
            <p>La ética empresarial es nuestra mayor prioridad para nuestro éxito y un pilar esencial para la operación del negocio.
          </p>
          <ul>
            <li><p>Lealtad</p></li>
            <li><p>Respeto, procuración y orientación hacia los intereses de nuestros clientes.</p></li>
            <li><p>Transparencia e integridad en los negocios.</p></li>
            <li><p>Tolerancia cero a las malas prácticas.</p></li>
            <li><p>Actuar siempre con Honestidad y transparencia.</p></li>
            <li><p>Procurar la diversidad e inclusión valorando a todos nuestros colaboradores.</p></li>
            <li><p>Compromiso con nuestros empleados y colaboradores.</p></li>
            <li><p>Responsabilidad social un compromiso voluntario que asumimos para contribuir con la sociedad y el medio ambiente más allá de cumplir con nuestros objetivos económicos.</p></li>
            <li><p>Pasión con base al trabajo en equipo, capacitación y creatividad.</p></li>
            <li><p>Eficiencia al enfocarnos en hacer las tareas bien, aprovechando al máximo los recursos, el tiempo y talento.</p></li>

          </ul>

        </div>
        <div class="d-flex align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/valores.webp" class="img-fluid"  width="100%" alt="valores y principios éticoss">
        </div>

      </div>
    </section>

    <section class="m-4 p-2">
      <h3>Nuestra filosofía</h3>
      <div class="-col-2">
        <div class="d-flex align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/filosofia.webp" class="img-fluid"  width="100%" alt="nuestra filosofía">
        </div>
        <div class="px-3">
          <p>Nuestros clientes constituyen el elemento fundamental para el éxito de Lounge & food mpm y es nuestra responsabilidad apoyar a nuestros colaboradores en toda la cadena de servicio en su desarrollo personal y bienestar integral.</p>

          <p>Cumplir nuestros compromisos con proveedores y colaboradores buscando siempre una relación de beneficio y respeto.</p>

        </div>
      </div>
    </section>

    <section  class="m-4 p-2">
      <h3>Acerca de nosotros</h3>
      <div class="-col-2">

        <div class="px-3">
          <p>La <strong>alimentación</strong> es un factor esencial en la calidad de vida de los trabajadores, fundamental para mejorar el desempeño de la tareas cotidianas, una buena alimentación aumenta su energía, concentración y mejora su estado de animo.</p>
            <p>Un beneficio estimulante, satisfactorio qué recibe un trabajador generando un compromiso optimo y mejorando una mayor productividad.</p>

          <p>Enfoque al cliente brindando una experiencia basada en <strong>anticipar las necesidades del consumidor</strong></p>
          <p>Siempre un pasó adelante, previniendo necesidades</p>
          <p>Asegurando las mejores prácticas, entregando alimentos seguros e inocuos.</p>
          <p>Logramos que cada día tenga un sabor único en la vida de miles de personas.</p>

          <h3>Calidad y seguridad garantizadas</h3>
          <p>Cada día nos esforzamos por mantener altos estándares de seguridad con nuestros empleados, clientes y consumidores.</p>

        </div>

        <div class="d-flex align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/acerca-de-nosotros.webp" class="img-fluid"  width="100%" alt="acerca de mnosotros">
        </div>

      </div>

    </section>

    <section>
      <div class="--titulo">
        <h1 class="-titulo-seccion">Comprometidos</h1>
      </div>

      <div class="--servicios -col-3">
        <div class="__card p-4">
          <h4 class="-titulo text-center">Salud</h4>
          <img src="/assets/images/salud.webp" class="img-fluid" alt="salud">

          <p>Proteger la salud de nuestros empleados, clientes y proveedores es nuestra máxima prioridad.</p>
          <p><strong>Impulsamos la vida saludable</strong></p>
          <p>Promovemos opciones saludables todos los días.</p>

          <p>Propiciamos una cultura preventiva de salud y vida sana, a través de programas impartidos por nuestro departamento de nutrición, ofreciendo una alimentación balanceada de acuerdo a la actividad física y estado de salud de los comensales.</p>

          <p>Este servicio es muy específico y detallado, va dirigido para todas aquellas personas que por indicación médica o que por problemas de salud requieren de un régimen alimenticio muy estricto en porciones y horarios.</p>

        </div>


        <div class="__card p-4">
          <h4 class="-titulo text-center">Medio ambiente</h4>
          <img src="/assets/images/medio-ambiente.webp" class="img-fluid" alt="ejemplo">

          <p>Estamos enfocamos en el bienestar de nuestro planeta, sumando esfuerzos minimizamos el impacto medioambiental en todas nuestras operaciones.</p>
          <p>A través de <strong>Operaciones más eficientes</strong></p>
            <ol>
              <li><p>Cuidando el consumo de agua, gas y energía</p></li>
              <li><p>Minimizando desperdicios generado por mermas de elaboración y escamoche derivados de la prestación de servicio.</p></li>
              <li><p>Separación de residuos.</p></li>
              <li><p>Fomentamos el reciclaje.</p></li>
              <li><p>Asegurar el abastecimiento responsable, alianza con proveedores para mejorar la eficiencia energética a través de la reducción en el consumo de combustible, reducir las emisiones de gases de efecto invernadero y la contaminación atmosférica causada por las actividades de transporte de carga por carretera; y reducir costos de operaciones de transporte de carga por carretera.</p></li>
            </ol>
        </div>

        <div class="__card p-4">
          <h4 class="-titulo text-center">Seguridad</h4>
          <img src="/assets/images/seguridad.webp" class="img-fluid" alt="ejemplo">

          <p>Lideramos Cultura de Seguridad</p>
          <p>El bienestar de nuestros colaboradores, clientes, proveedores es prioridad; por ello, debemos cumplimos con normas internas y disposiciones legales de seguridad que se establecen de forma homogénea en cada lugar de trabajo.</p>

          <p>Seguridad en todos nuestros procesos, reclutamiento de personal, compra de materia prima, venta de servicios y operación de nuestro negocio. Anteponemos la seguridad en todo lo que hacemos.</p>

          <p>Comprometidos en  mantener un ambiente de trabajo seguro, libre de amenazas y productivo para todos los empleados, clientes y proveedores.</p>

          <p>Cumplimos con todas las regulaciones de seguridad alimentaria, y de seguridad laboral y medioambiental aplicables a las industrias y zonas en las que operamos.</p>

          <p>La confianza que nuestros colaboradores, consumidores y clientes depositan en nosotros es fundamental para proteger la reputación y el éxito a largo plazo de MPM.</p>

          <p>Proporcionamos formación y recursos enfocados en seguridad, dotando a nuestros equipos de prácticas laborales seguras que cumplen con la normativa de prevención de accidentes, lesiones e intoxicaciones alimentarias, como también la protección del medioambiente.</p>


        </div>


      </div>
    </section>

    <section class="pb-3">
      <h1 class="-titulo-seccion">Alianzas estratégicas</h1>
      <app-alianzas></app-alianzas>

      <app-las-certificaciones></app-las-certificaciones>
    </section>


  </section>

</main>
