<main>

  <app-breadcrumbs [firstItem]="item" [secondaryItem]="secondaryItem" [search]="search"></app-breadcrumbs>
  <section>
    <div class="d-flex justify-content-center">
      <h2 class="-titulo-video -text-clear">Eventos especiales</h2>

      <video autoplay loop muted playsinline class="" width="100%" height="auto">
        <source src="/assets/videos/eventos-especiales.mp4" type="video/mp4">
      </video>

    </div>
  </section>



  <section class="mx-2 p-2 mb-2 mt-2 -ventajas">
    <div class="row">
      <div class="col-md-6 px-3">

        <p class="text-white">Haz de tus eventos algo inolvidable. Creamos experiencias memorables que inspiran, motivan y dejan huella en tu equipo.</p>
          <p class="text-white">Servicios Destacados: </p>
          <ul>
            <li><p class="text-white">Catering gourmet: Sabores que impresionan a cualquier paladar.</p> </li>
            <li><p class="text-white">Soluciones tecnológicas: Para llevar tus eventos al siguiente nivel. </p></li>
            <li><p class="text-white">Logística sin complicaciones: Nosotros nos encargamos de todo. </p></li>
        </ul>
          <p class="text-white">Beneficios Clave: </p>
          <ul>
            <li><p class="text-white">Fortalece la cultura organizacional. </p></li>
            <li><p class="text-white">Incrementa la motivación y el compromiso. </p></li>
            <li><p class="text-white">Deja una impresión duradera en tu equipo. </p></li>
        </ul>
        

      </div>

      <div class=" col-md-6  align-items-top justify-content-center px-3 py-2">
        <img src="/assets/images/eventos-espaciales.webp" class="img-fluid"  width="100%" alt="comedor empresarial">
      </div>
    </div>

  </section>
   


  <section class="mx-2 p-2">
    <div class="p-5">
      <p class="-garamond -h1 -justified">En cada servicio que ofrecemos, buscamos transformar tu lugar de trabajo en un espacio más saludable, productivo y lleno de inspiración. Ya sea con comedores industriales, cafeterías, catering o eventos corporativos, hacemos que cada momento cuente. </p>
      <p class="-garamond -h1 -justified">¡Contáctanos hoy y da el primer paso hacia un futuro mejor para tu empresa! </p>
    </div>
  </section>

    <app-marquee></app-marquee>

    

    <section>
      <div class="px-2 pb-2">
        <img src="/assets/images/banners/eventos-corporativos.webp"  width="100%">
      </div>
    </section>  
     

</main>
