<main>

  <app-breadcrumbs [firstItem]="item" [secondaryItem]="secondaryItem" [search]="search"></app-breadcrumbs>

  <section class="pb-3">

    <div class="--titulo">
      <h1 class="-titulo-seccion">Eventos especiales</h1>
    </div>


    <app-servicios-beneficios></app-servicios-beneficios>

    <section class="m-4 p-2">
      <div class="-col-2">
        <div class="  px-3">

            <h2>Definición</h2>

            <p>Eventos especiales es un servicio personalizado para cada necesidad de nuestros clientes con un menú acorde para sus invitados considerando siempre:</p>

            <ul>
              <li><p>Calidad</p></li>
              <li><p>Presentación</p></li>
              <li><p>Temperatura</p></li>
              <li><p>Tiempo de entrega</p></li>
            </ul>

            <p>¡Nosotros nos hacemos cargo de todos tus eventos!</p>

            <h2>Ventajas</h2>

            <p>Contar con un equipo de profesionales que cuentan con gran experiencia en organización, planeación y ejecución de eventos que asesoran y apoyan a nuestros clientes para lograr el objetivo de cada evento especial, sin duda un gran apoyo para  lograr que ese día sea el mejor evento</p>

            <h2>Aplicaciones</h2>

            <p>Brunch, desayunos, coffee break, box lunch, aniversario, cumpleaños, reuniones, etc.</p>
        </div>

        <div class="d-flex align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/eventos-espaciales.webp" class="img-fluid"  width="100%" alt="Eventos especiales">
        </div>

      </div>



    </section>

  </section>
</main>

