


<section class="--row-azul-dark mx-4 mt-2 p-0">

  <div class="-col-2 p-0">

    <div class="h-100 p-4">

      <h3 class="-text-clear">Beneficios de nuestros servicios</h3>
      <ul>
        <li><p class="text-white">Ofrezca a sus empleados los beneficios de <span class="-text-clear">una buena alimentación y sana convivencia.</span></p></li>

        <li><p class="text-white">Un servicio de comedor para sus empleados tiene grandes beneficios como una alimentación adecuada en un <span class="-text-clear">amiente apropiado.</span></p></li>

        <li><p class="text-white">Todos los servicios de Lounge & food mpm cumplen con los más altos estándares de <span class="-text-clear">calidad en productos y servicios.</span></p></li>

        <li><p class="text-white">Comentario; para todos los servicios incluir los <span class="-text-clear">distintivos H, M y serve safe</span></p></li>
      </ul>

    </div>

      <div class="d-flex justify-content-end">
        <img src="/assets/images/beneficios-de-nuestros-servicios.webp" class="img-fluid rounded-3 " height="100%" alt="ejemplo">
      </div>

  </div>

</section>




