
<section class="m-4 p-4 --card-azul">

  <h3>Beneficios de nuestros servicios</h3>
  <ul>
    <li><p>Ofrezca a sus empleados los beneficios de una buena alimentación y sana convivencia.</p></li>

    <li><p>Un servicio de comedor para sus empleados tiene grandes beneficios como una alimentación adecuada en un amiente apropiado.</p></li>

    <li><p>Todos los servicios de Lounge & food mpm cumplen con los más altos estándares de calidad en productos y servicios.</p></li>

    <li><p>Comentario; para todos los servicios incluir los distintivos H, M y serve safe</p></li>
  </ul>
</section>
